/* Add the following styles to your CSS file or component */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #3498db;
  color: #fff;
  border: 1px solid #3498db;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #07598f;
}

.pagination button.active {
  background-color: #07598f;
}

/* Caroussel*/

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column; /* Afficher de haut en bas */
}

.slick-slider {
  width: 80%;
  margin: 0 auto;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #000;
}

.slick-prev:hover,
.slick-next:hover {
  color: #333;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button {
  font-size: 12px;
  color: #000;
}

.slick-dots li.slick-active button {
  color: #333;
}

/*Carte*/

p.italicize {
  font-style: italic;
  font-weight: bold;
  font-size: 11px;
  border: 3px solid gold;
  border-radius: 6px;
  margin: 0px;
  padding: 5px;
  text-align: center;
}

span.label {
  font-weight: bold;
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div.nameimageinfo {
  width: 310px;
  height: 500px;
  padding: 10px;
  border: 10px solid gold;
  border-radius: 20px;
}

img.headshot {
  padding: 0px;
  margin: 0px;
  border: 5px yellow outset;
  box-shadow: 3px 3px 10px #000;
  width: 300px;
  height: 200px;
}

/* */
/* Just for fun - extra style things */

/* Background of water type cards */

div.water {
  background: linear-gradient(
    to bottom right,
    #d9e4ec,
    #adc1d1,
    #7d99af,
    #557792,
    #7d99af,
    #adc1d1
  );
}

/* Background of lightning type cards */

div.lightning {
  background: linear-gradient(
    to bottom right,
    #ffffa4,
    #fff870,
    #fff200,
    #fff870,
    #ffffa4,
    #fff870
  );
}

/* Background of fire type cards */

div.fire {
  background: linear-gradient(
    to bottom right,
    #ffbfba,
    #ff978f,
    #ff756b,
    #ff594c,
    #ff756b,
    #ff978f
  );
}

/* Background of grass type cards */

div.grass {
  background: linear-gradient(
    to bottom right,
    #aae5b7,
    #78cf8b,
    #4fb665,
    #319d49,
    #4fb665,
    #78cf8b
  );
}

/* Font styling */

div {
  font-family: sans-serif;
}

td.basic {
  font-weight: bold;
  font-size: 11px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

td.nameofanimal {
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

td.hp {
  color: crimson;
  font-size: 20px;
  text-align: right;
  font-weight: bold;
  width: 20%;
}

td.typesign {
  font-size: 20px;
  text-align: center;
  width: 5%;
}

p.description {
  padding: 2px 0px 0px 0px;
  margin: 0px 0px 5px 0px;
  background: linear-gradient(to right, goldenrod, yellow, goldenrod);
  font-size: 11px;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

span.labeltext {
  font-size: 11px;
}

td.energy {
  width: 18%;
  font-size: 20px;
  text-align: center;
}

td.damage {
  font-weight: bold;
  align-items: right;
}

table.costs {
  font-size: 11px;
  text-align: center;
  width: 100%;
}

tr.costheaders {
  font-weight: bold;
}

tr.costicons {
  font-size: 20px;
}

table.nameheaders {
  width: 100%;
}

table.stats {
  width: 100%;
  text-align: center;
}

p.bottomtext {
  font-size: 7px;
  text-align: center;
}
